<div class="form-body">

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control searchtxt" id="inputtext3" placeholder="بحث">
                <button type="button" class="btn btn-success btnSearch" onclick="LoadData()">
                    <i class="fa fa-search"></i>
                </button>
                <button type="button" class="btn btn-info btnSearch" onclick="pageNo = 1; $('.searchtxt').val(''); LoadData();">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
    </form>
</div>
