@{
    Layout = "~/Areas/MainErp/Views/Shared/_MainErpLayout.cshtml";
    ViewBag.Title = "مسير الرواتب";
}
<div class="ep-body" data-base="@Url.Action("SalaryRun", "EmployeePayroll", new { area = "MainErp" })">
    @Html.Partial("~/Views/Shared/EnterpriseHr/_EmployeePayrollSalaryRun.cshtml")
</div>
@section scripts {
    <link href="@Url.Content("~/Areas/MainErp/Content/employee-payroll.css?v=20260514")" rel="stylesheet" />
    <script src="@Url.Content("~/Areas/MainErp/Scripts/employee-payroll.js?v=20260514")"></script>
}
