@using MyERP.Models
@{
    var syncModuleId = 0;
    using (var db = new MySoftERPEntity())
    {
        // Resolve existing Sync module id (do not hardcode).
        syncModuleId = db.SystemPages
            .Where(s => s.IsDeleted == false
                        && s.IsActive == true
                        && s.IsModule == true
                        && s.ParentId == null
                        && (s.ControllerName == "Sync"
                            || s.TableName == "Sync"
                            || s.Code == "SYNC_MODULE"
                            || s.ArName == "مركز التحكم بالمزامنة"))
            .Select(s => s.Id)
            .FirstOrDefault();
    }
}
<li>
    <input hidden value="@syncModuleId" />
    <a href="javascript:void(0);" class="waves-effect">
        <i class="remixicon-shield-check-line"></i>
        <span> مركز التحكم بالمزامنة </span>
        <span class="menu-arrow"></span>
    </a>
    <ul class="nav-second-level" aria-expanded="false">
        <li><a href="/sync"><i class="fa fa-caret-left"></i> لوحة التحكم</a></li>
        <li><a href="/sync/Queue"><i class="fa fa-caret-left"></i> قائمة الانتظار</a></li>
        <li><a href="/sync/Diagnostics"><i class="fa fa-caret-left"></i> التشخيص والمراجعة</a></li>
        <li><a href="/sync/Logs"><i class="fa fa-caret-left"></i> السجلات والأخطاء</a></li>
        <li><a href="/sync/Profiles"><i class="fa fa-caret-left"></i> الملفات التعريفية</a></li>
        <li><a href="/sync/Pilot"><i class="fa fa-caret-left"></i> جاهزية التنفيذ التجريبي</a></li>
        <li><a href="/sync/AdminAudit"><i class="fa fa-caret-left"></i> سجل العمليات</a></li>
        <li><a href="/sync/AdminOperations"><i class="fa fa-caret-left"></i> طلبات التنفيذ المعلّقة</a></li>
        <li><a href="/sync/Notifications"><i class="fa fa-caret-left"></i> التنبيهات</a></li>
        <li><a href="/sync/RoleManagement"><i class="fa fa-caret-left"></i> صلاحيات المزامنة</a></li>
    </ul>
</li>
