<div style="text-align:center;margin-bottom: 50px;">

    <select id="ShowByPage" class="form-control" style="width:70px;float:left;" onchange="pageNo=1;LoadData()">
        <option value="10">10</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>

    <ul class="pagination" style="margin: 0px;"></ul>
    
    <span style="font-size:12px;float:right;"> عدد النتائج : <span id="RowsCount"></span></span>
</div>
