<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ECconnectionString"
			 connectionString="Data Source=PC2\SQL2019;Initial Catalog=HROnline;Persist Security Info=True;User ID=sa;Password=Admin.com;Connection Timeout=900;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<add name="myconnection"
			 connectionString="Data Source=PC2\SQL2019;Initial Catalog=HROnline;Persist Security Info=True;User ID=sa;Password=Admin.com;Connection Timeout=900;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>