@model CompetitionResult_Report
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> نتيجة المسابقة </title>
@Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
    )
   
@Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Report })
</head>
<body>
    <div>

        @Html.DevExpress().WebDocumentViewer(settings =>
        {
            settings.Name = "WebDocumentViewer";
        }).Bind(new DevExpress.XtraReports.Web.CachedReportSourceWeb(new CompetitionResult_Report())).GetHtml()


    </div>
</body>
</html>
