@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HRServices.Models.PermissionModel

<link href="assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<div class="ibox">
  
    <div class="ibox-content">
        <form asp-action="Vacation" method="post">
            <div class="form-group  row">
                <label class="col-sm-2 col-form-label">Employee Code</label>

                <div class="col-sm-10"><input asp-for="EmployeeCode" type="text" class="form-control" readonly="readonly"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="hr-line-dashed"></div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Name</label>

                <div class="col-sm-10"><input asp-for="EmployeeName" type="text" class="form-control" readonly="readonly"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-form-label" for="date_added">Order Date</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input id="date_added" type="text" class="form-control datepicker" asp-for="Date" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="col-form-label" for="appt1-time">From Time</label>
                        <div class="input-group">
                            <input id="appt1-time" class="form-control time" type="time" asp-for="FromTime" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="col-form-label" for="appt-time">To Time</label>
                        <div class="input-group">
                            <input id="appt-time" class="form-control" type="time" asp-for="ToTime" />

                        </div>
                    </div>
                </div>

            </div>

            <div class="hr-line-dashed"></div>
            

            <div class="hr-line-dashed"></div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Notes</label>

                <div class="col-sm-10"><input asp-for="Notes" type="text" class="form-control" ></div>
            </div>

            <div class="ibox-footer">
                <button type="submit" class="btn-danger  btn-lg">Send</button>
            </div>
        </form>
    </div>
</div>

@section scripts
    {
    <script src="~/assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {

            $('.datepicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd/mm/yyyy'
            });
        });
    </script>
 }
